<div class=center>
<h3>しょうがく１ねんせいの<br>みなとくんのたしざんアプリ</h3>

<h2><%= @right %> + <%= @left %> =
<%= form_tag ("/calc_plus") do %>
<%= text_field :calc, :num1 %>
<%= hidden_field_tag :right,@right %>
<%= hidden_field_tag :left,@left %>
<%= submit_tag "こたえ" ,class:"botton" %>
<% end %>
</h2>
</div>
